@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@keyframes animation-move {
    0% {
        transform: translate3d(0, 0, 0)
    }

    50% {
        transform: translateX(10px) translateY(20px);
    }

    100% {
        transform: translate3d(0, 0, 0)
    }
}

.font-styled {
    font-family: "Lexend", serif;
}

.custom-pagination .swiper-pagination-bullet {
    width: 70px;
    height: 7px;
    background: black;
    transition: all 0.3s ease;
    border-radius: 0%;
}

.custom-pagination .swiper-pagination-bullet-active {
    background: #1E6DEB;
    width: 70px;
}

.animation-updown {
    animation: animation-move 3s ease-in-out infinite;
    opacity: 0.4;
}