.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1052d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden-special-on-large {
  display: flex;
}

.hidden-special-on-small {
  display: none;
}

.glasseffect::before {
  content: '';
  position: absolute;
  /* top: -45%;
  left: -50%; */
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(255, 21, 251), rgb(255, 0, 255));
  clip-path: circle(15% at left top);
}

.glasseffect::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.6);
  backdrop-filter: blur(0.75px);
  clip-path: circle(5% at right top);
}

@media (min-width: 768px) {
  .hidden-special-on-large {
    display: none;
  }

  .hidden-special-on-small {
    display: flex;
  }
}

.colorbg {
  background: radial-gradient(circle at top, hsla(186, 100%, 71%, 1) 0%, hsla(217, 84%, 52%, 1) 31%);
}

.awesome-3d-card {
  transform:
    perspective(75em) rotateX(25deg);
  box-shadow:
    rgba(60, 62, 65, 0.42) 0px 60px 123px -25px,
    white 0px 35px 75px -35px;
  transition:
    transform .4s ease,
    box-shadow .4s ease;
}

.awesome-3d-card:hover {
  transform:
    rotate3d(0, 0, 0, 0deg) rotateY(10deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}