.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1052d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden-special-on-large {
  display: flex;
}

.hidden-special-on-small {
  display: none;
}

@media (min-width: 768px) {
  .hidden-special-on-large {
    display: none;
  }

  .hidden-special-on-small {
    display: flex;
  }
}

.awesome-3d-card {
  transform:
    perspective(75em) rotateX(25deg);
  box-shadow:
    rgba(60, 62, 65, 0.42) 0px 60px 123px -25px,
    white 0px 35px 75px -35px;
  transition:
    transform .4s ease,
    box-shadow .4s ease;
}

.awesome-3d-card:hover {
  transform:
    rotate3d(0, 0, 0, 0deg) rotateY(10deg);
}

.special-scrolling::-webkit-scrollbar {
  height: 1px;
  background-color: transparent;
}

.flip-card:hover .flip-3d {
  transform:
    perspective(30em) rotateY(-25deg);
  border-radius: 16px;
  box-shadow: 0 0 25px 5px #1e6deb;
}

.flip-card .flip-3d {
  transform:
    rotate3d(0, 0, 0, 0deg) rotateY(10deg);
  transition: all 0.5s ease-in-out;
}

.star-container {
  position: relative;
  width: 100%;
  /* Adjust as needed */
  overflow: hidden;
  top: 70px;
}

.star {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(255, 215, 0, 0) 70%);
  animation: twinkle 1.5s infinite alternate;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}